data
ext/infomap
ext/mallet
ext/techknacq-core
test/*.txt
tmp
.idea
*.pyc
lib/techknacq/__pycache__
lib/mallet/__pycache__
lib/submodular/__pycache__/submodular.cpython-35.pyc
lib/submodular/__pycache__/similarityscore.cpython-35.pyc
lib/submodular/__pycache__/relevantdocuments.cpython-35.pyc
lib/submodular/__pycache__/constantvalues.cpython-35.pyc
acl
sample-high-done
